.hello{
    width: 80%;
    font-size: 22px;
}
.b, #object, #accuracy{
  color: white;
}
body{
    background-color: rebeccapurple;
    color: white;
}
#camera{
    border: 2px;
    border-color: white;
    border-style:dotted;
    width: 350px;
    height: 350px;
}